@import url("../Utility/Common.css");

body {
  background: linear-gradient(
    61deg,
    rgb(9, 14, 44) 0%,
    rgb(18, 44, 105) 59%,
    rgb(7, 141, 179) 100%
  );
  font-family: cursive;
}
.veX_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border: 2px solid rgba(34, 116, 181, 1);
  border-radius: 6px;
  position: fixed;
  padding: 40px;
  color: #fff;
  box-shadow: rgba(34, 116, 181, 1) 0px 7px 29px 0px;
  width: 400px;
}
.veX_container p {
  font-size: xx-large;
}
.veX_file_upload {
  margin-bottom: 20px;
  font-size: large;
}

.veX_file_upload label {
  display: block;
  font-weight: bold;
  font-size: var(--veX-common-fontSize);
  margin-bottom: 5px;
}

.veX_file_upload input[type="file"] {
  padding: 10px;
  border: 2px dashed var(--veX-borderColor);
  border-radius: var(--veX-common-borderRadius);
  cursor: pointer;
}

.veX_submit_btn {
  margin-top: 20px;
  display: block;
  background-color: var(--veX-common-backgroundColor);
  color: #000;
  border: none;
  border-radius: var(--veX-common-borderRadius);
  cursor: pointer;
  text-decoration: none;
  font-size: medium;
  background-color: var(--vex-hoverColor);
  padding: 10px 24px;
  border-radius: var(--veX-common-borderRadius);
}
