@import url("../Common/Common.css");

body {
  background: linear-gradient(61deg,
      rgb(9, 14, 44) 0%,
      rgb(18, 44, 105) 59%,
      rgb(7, 141, 179) 100%);
  font-family: cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 30px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  color: #ddd;
  font-size: 14px;
  display: block;
  margin: 10px 0 5px;
  text-align: left;
}

.url-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 8px 0;
}

.checkbox-container input {
  width: 16px;
  height: 16px;
}

.btn {
  background: #1A51C3;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #2563eb;
}

.upload-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.upload-buttons-container .btn {
  width: auto;
  flex-grow: 1;
  padding: 10px 15px;
}

.upload-buttons-container .btn.selected {
  background: #10b981;
  /* Example different color for selected state */
  border: 2px solid #047857;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.divider {
  color: #ccc;
  margin: 15px 0;
  font-size: 14px;
}

.file-upload {
  border: 2px dashed rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.file-upload input {
  display: none;
}

.example-btn {

  color: white;
  text-decoration: underline;
}

.checklist-repo {
  cursor: auto;
  color: #ddd;
  text-align: center;
  display: block;
  background: transparent;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

#veX_loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
}

.heading-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.heading-row h2 {
  margin: 0;
}

.dropdown-select {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  color: white;
}

.dropdown-select option {
  background-color: #f4f4f4;
  color: black;
}

@media (max-width: 480px) {
  .heading-row {
    flex-direction: column;
    align-items: flex-start;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}