@import url("../Utility/common.css");

body
{
    background: linear-gradient(61deg, rgb(9, 14, 44) 0%, rgb(18, 44, 105) 59%, rgb(7, 141, 179) 100%);
}
.veX_container {
    position: absolute; /* Use absolute or fixed positioning */
    top: 50%;           /* Position the element 50% from the top of the container */
    left: 50%;          /* Position the element 50% from the left of the container */
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid rgba(34,116,181,1);
    border-radius: 6px;
    position: fixed;
    padding: 40px;
    background-color: rgb(255, 255, 255, 0.1);
    color: #fff;
}
.veX_container p{
    font-size: xx-large;
} 
.veX_file_upload {
    margin-bottom: 20px;
    font-size: large;
}

.veX_file_upload label {
    display: block;
    font-weight: bold;
    font-size: var(--veX-common-fontSize);
    margin-bottom: 5px;
}

.veX_file_upload input[type="file"] {
    padding: 10px;
    border: 2px dashed var(--veX-borderColor);
    border-radius: var(--veX-common-borderRadius);
}

.veX_submit_btn {
    margin-top: 20px;
    display: block;
    background-color: var(--veX-common-backgroundColor);
    color: #000;
    border: none;
    border-radius: var(--veX-common-borderRadius);
    cursor: pointer;
    text-decoration: none;
    font-size: medium;
    background-color: var(--vex-hoverColor);
    padding: 10px 24px;
    border-radius: 20px;
}
