:root {
  --veX-banner-backgroundColor: rgb(255, 255, 255);
  --veX-common-backgroundColor: #fff;
  --veX-common-fontColor: #202124;
  --vex-hoverColor: #e5f1fd;
  --veX-borderColor: #dcdedf;
  --veX-ticktColor: var(--veX-common-backgroundColor);
  --veX-successColor: #1aa364;
  --veX-checkedItemsPercentage: 0%;
  --veX-common-fontSize: 14px;
  --veX-header-fontSize: 20px;
  --veX-common-borderRadius: 6px;
  --veX-whiteColor: #FFFFFF;
  --veX-blackColor: #020202;
  --veX-fontColorAgainstTicketColor: var(--veX-blackColor);
  --veX-common-borderWidth: 2px;
  --veX-notCompletedColor: #d85c4c;
  --veX-CompletedColor: var(--veX-successColor);
  --vex-notApplicableColor: #808080;//*fdec83*/
}

#veX-PopUp-Container ::-webkit-scrollbar {
  width: 5px;
}


#veX-PopUp-Container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;

}

#veX-PopUp-Container ::-webkit-scrollbar {
  width: 5px;
  background-color: var(--veX-common-backgroundColor);
  border-radius: var(--veX-common-borderRadius);
}

#veX-PopUp-Container ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8f8e8e;
}

#veX-PopUp-Container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.veX_category_button {
  background-color: var(--veX-common-backgroundColor);
  border: none;
  padding: 12px;
  border-left: 5px solid transparent;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: var(--veX-blackColor);
  cursor: pointer;
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
}
.veX_category_button:hover
{
  background-color: rgba(229, 241, 253,0.5) !important;
}

.veX-Active-Button {
  background-color: var(--vex-hoverColor) !important;
  border-left: 5px solid var(--veX-ticktColor) !important;
}


#veX-PopUp-Container {
  position: fixed;
  left: 50%;
  z-index: 3000;
  min-width: 60vw;
  height: fit-content;
  top: 50vh;
  transform: translate(-50%, -60%);
  border-radius: var(--veX-common-borderRadius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 2px solid var(--veX-ticktColor);
  background-color: var(--veX-common-backgroundColor);
}

.veX_pop_deactive {
  opacity: 0 !important;
  transform: translate(-50%, -60%) !important;
  visibility: hidden !important;
}

.veX_pop_active {
  opacity: 1 !important;
  transform: translate(-50%, -50%) !important;
  visibility: visible !important;
}

.veX_banner {
  overflow: hidden;
  height: 50px;
}

.veX_header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--veX-ticktColor);
}

.veX_logo_container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.veX_logo {
  object-fit: cover;
  width: 100%;
}

.veX_header_title {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: var(--veX-header-fontSize);
  font-weight: 500;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
  color: var(--veX-fontColorAgainstTicketColor);
  padding: 5px;
  margin: 0px;
}

.veX_done_status {
  width: var(--veX-checkedItemsPercentage);
  height: 5px;
  position: relative;
  background-color: var(--veX-successColor);
  transition: width 0.5s ease;
  margin-bottom: 5px;
  background: var(--veX-whiteColor);
  background: linear-gradient(90deg, var(--veX-whiteColor) 0%, var(--veX-successColor) var(--veX-checkedItemsPercentage));
  border-radius: var(--veX-common-borderRadius);
}

.veX_content_wrapper {
  display: flex;
  flex: 1;
  height: fit-content;
  MIN-HEIGHT: 400PX;
}

.veX_sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.veX_ticket_phase {
  padding: 20px;
  padding-left: 30px;
  border-radius: 50px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--veX-common-borderWidth) solid var(--veX-borderColor);
  height: 32px;
  font-size: var(--veX-common-fontSize);
  font-weight: 500;
  margin-bottom: 10PX;
  cursor: pointer;
}

.veX_all_phases {
  position: absolute;
  width: 80%;
  top: 50px;
  visibility: hidden;
  border-radius: var(--veX-common-borderRadius);
  background: var(--veX-whiteColor);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.veX_all_phases.active {
  visibility: visible;
}

.veX_phase {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: var(--veX-common-fontSize);
  line-height: 1.25rem;
  color: var(--veX-common-fontColor);
  width: 100%;
}

.veX_phase:hover {
  color: #111827;
  background: var(--vex-hoverColor);
}

.veX_sidebar_header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px 20px;
  align-items: center;
}

.veX_done_percentage {
  position: absolute;
  top: 60px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--veX-common-fontSize);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  border: var(--veX-common-borderWidth) solid var(--veX-borderColor);
  color: var(--veX-successColor);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 20px;
  background-color: var(--veX-common-backgroundColor);
}

.veX_ui_categories {
  background-color: var(--veX-common-backgroundColor);
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.veX_ticket_phase_txt {
  color: var(--veX-common-fontColor);
  text-align: center;
  margin: 0;
  padding: 10px;
}

.veX_ticket_phase_txt::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  right: 13px;
  top: 53%;
}

.veX_ui_categories button {
  width: 100%;
}

.veX_main_content {
  flex: 1;
  padding: initial;
  padding-left: 20px;
  padding-top: 10px;
  background-color: var(--veX-common-backgroundColor);
  overflow-y: scroll;
}

.veX_ui_list_container {
  padding: 10px;
}

.veX_ui_title {
  font-size: var(--veX-header-fontSize);
  font-weight: 500;
  color: var(--veX-common-fontColor);
  margin-bottom: 10px;
}

.veX_ui_list_container ul {
  margin: 0;
  padding: 0;
  counter-reset: item;
  list-style-type: none;
}

.veX_ui_list_container ul li {
  border: 1px solid var(--veX-borderColor);
  margin: 10px 0px;
  cursor: pointer;
  font-size: var(--veX-common-fontSize);
  position: relative;
  padding: 12px 8px 12px 40px;
  background: var(--veX-common-backgroundColor);
  border-radius: var(--veX-common-borderRadius);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
  transition: background-color 300ms linear;
}

.veX_ui_list_container ul li:hover {
  background-color: var(--vex-hoverColor);
}

.veX_ui_list_container ul li.checked {
  background: var(--veX-successColor);
  color: var(--veX-whiteColor);
  text-decoration: line-through;
}


.veX_ui_list_container ul li::before {
  position: absolute;
  top: 12px;
  left: 16px;
  counter-increment: item;
  content: counter(item) ". ";
  font-weight: bold;
  box-shadow: none;
  border: none;
}

.veX_ui_list_container ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 12px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


#veX-PopUp-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s ease;
  border: 1px solid #ddd;
  cursor: pointer;
}

.veX_common_btn {
  background-color: var(--veX-ticktColor);
  color: var(--veX-fontColorAgainstTicketColor);
  text-align: center;
  cursor: pointer;
  border-radius: var(--veX-common-borderRadius);
  padding: 10px;
  display: inline-block;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: var(--veX-common-fontSize);
}

.veX_common_btn:hover {
  opacity: 0.8;
}

.veX_footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px var(--veX-common-borderRadius) var(--veX-common-borderRadius);
  background-color: rgb(247, 247, 248) !important;
}

.veX_list_container {
  margin: 0;
  padding: 0;
}

.veX_list_item {
  font-size: var(--veX-common-fontSize);
  padding: 8px 4px 8px 8px;
  background: var(--veX-common-backgroundColor);
  border-radius: var(--veX-common-borderRadius);
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
  transition: background-color 300ms linear;
  position: relative;
  margin: 5px 0;
  border: 1px solid var(--veX-borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.veX_list_item.veX_selected {
  background-color: var(--veX-notCompletedColor) !important;
  color: white;
}

.veX_list_item.veX_not_applicable {
  background-color: var(--vex-notApplicableColor) !important;
  text-decoration: line-through;
  color: white;
}
.veX_list_item:hover
{
  background-color: var(--vex-hoverColor);
}

.veX_done_check {
  min-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.veX_note {
  min-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.veX_done_check img,
.veX_note img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.veX_list_text {
  font-size: var(--veX-common-fontSize);
  margin-left: 10PX;
  max-width: 90%;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.veX_list_item.veX_completed {
  background: var(--veX-successColor) !important;
  color: var(--veX-whiteColor) !important;
  text-decoration: line-through;
}

.veX_list_actions {
  width: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100%;
  cursor: pointer;
}

.veX_checklist_note {
  resize: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 90%;
  top: 100%;
  left: 10%;
  z-index: 1;
  height: auto;
  max-height: 300px;
  border: 1px solid #dddddd;
}

.veX_hide_checklist_note {
  display: none;
}

.veX_checklist_note:focus,
.veX_checklist_note:hover {
  outline: #dddddd;
  border: 1px solid #dddddd;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}


.veX_list_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5px;
}

.veX_footer_icon {
  width: 20px;
  height: 20px;
}
.veX_add_comment_icon
{
  margin-left: 5px;
}

.veX_footer_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--veX-ticktColor);
  height: 85%;
  width: fit-content;
  BORDER-RADIUS: var(--veX-common-borderRadius);
  PADDING: 0PX;
}

.veX_footer_icon_container:hover {
  opacity: 0.8;
}
.veX_footer_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
  color: var(--veX-whiteColor);
  cursor: pointer;
  padding: 0px 10px;
  BORDER-RADIUS: var(--veX-common-borderRadius);
  transition: background-color 300ms ease-out;
}


.veX_note_icon {
  width: 25px;
  height: 25px;
} 
.veX_completed .veX_note,.veX_not_applicable .veX_note, .veX_selected .veX_note{
  display: block !important;
}
.veX_sync_icon
{
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background-color: var(--veX-ticktColor);
}