:root {
  --veX-banner-backgroundColor: rgb(255, 255, 255);
  --veX-common-backgroundColor: #fff;
  --veX-common-fontColor: #202124;
  --vex-hoverColor: #f0f0f0;
  --veX-borderColor: #dcdedf;
  --veX-ticktColor: var(--veX-common-backgroundColor);
  --veX-successColor: #22BB33;
  --veX-checkedItemsPercentage: 0%;
  --veX-common-fontSize: 14px;
  --veX-header-fontSize: 20px;
  --veX-common-borderRadius: 6px;
  --veX-whiteColor: #FFFFFF;
  --veX-blackColor: #000000;
  --veX-fontColorAgainstTicketColor: var(--veX-blackColor);
}